#single-view {
  h5 {
    font-size: 1rem !important;
  }

  p {
    font-size: 1rem !important;
    margin-bottom: 0.05rem !important;
  }

  .form-check-input {
    position: static !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
}